go 1.23.2

use (
	// internal services
    src/internal/service/auth
    src/internal/service/cart
    src/internal/service/checkout
    src/internal/service/email
    src/internal/service/order
    src/internal/service/payment
    src/internal/service/product
    src/internal/service/shortlink
    src/internal/service/user

    // internal client
    src/internal/client

    // internal gateway
    src/internal/gateway

    // internal pkg
    src/internal/pkg

    // pkg
    src/pkg

	// cmd
	src/cmd
)